.App {
    display: flex;
}

.sidebar {
    width: 250px; /* Adjust the width as needed */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f1f1f1;
    /* Other styles */
  }
  
  .main-content {
    flex: 1;
    margin-left: 250px; /* Ensure main content doesn't overlap the sidebar */
    overflow-y: auto; /* Allow the main content to scroll if it overflows */
    /* Other styles */
  }