.App {
    display: flex;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f1f1f1;
}

.sidebar-link {
    text-decoration: none;
    color: black;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    /* Ensure main content doesn't overlap the sidebar */
    overflow-y: auto;
    /* Allow the main content to scroll if it overflows */
}


.contact-input-bar {
    display: flex;
    align-items: center;
}

.list-item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-item-bar {
    width: 10px;
    height: 60px;
    background-color: #3498db;
    /* You can change the color */
    margin-right: 10px;
}

.list-item-content {
    display: flex;
    align-items: center;
}

.list-item-name {
    margin: 0;
    font-size: 18px;
    color: #333333;
    margin-right: 10px;
    /* Add some spacing between name and description */
}

.list-item-description {
    margin: 0;
    font-size: 14px;
    color: #777777;
}

.contact-page-container {
    display: flex;
    height: 95vh;
    /* Take up 95% of the viewport height */
    overflow: hidden;
    /* Prevent container from scrolling */
}

.scrollable-container {
    overflow: auto;
    /* Enable scrolling within the div */
    border: 1px solid #ccc;
    padding: 10px;
}

.notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3a9455;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    animation: slide-in 0.5s forwards, fade-out 0.5s 2.5s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-50%) translateY(-100%);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}