.notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3a9455;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
}

.notification-hidden {
    animation: fade-out 0.5s forwards;
}

.notification-visible {
    visibility: visible;
    animation: slide-in 0.5s forwards, fade-in 0.5s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-50%) translateY(-100%);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}